*.o
*.la
*.lo
.*
*.kw
parser.cpp
parser.hpp
parser.output
lexer.cpp
*.lcf
*.once
config.*
configure
depcomp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
libtool
ltmain.sh
missing
core
compile
stamp-h1
orca
nohup.out
vgcore.*
*.so
calc_*
parse_lisp_*






